/* @import url(); */

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: NewAgeVintage;
  src: url("fonts/New-Age-VIntage_regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}
:root {
  --landing_logo: url("/images/Vector 1.webp");
}
body {
  margin: 0;
  font-family: "NewAgeVintage", sans-serif;
  background-color: white;
  overflow-x: hidden;
  scrollbar-color: var(--text) rgb(71, 71, 71);
  scrollbar-width: thin;

  scrollbar-width: none;
}
header {
  position: absolute;
  width: 100%;
  top: 0%;
}
#showcase {
  background-image: url("/images/front.webp");
  background-size: cover;
  background-blend-mode: screen;
  background-position: center;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

#landinglogo {
  width: 12vh;
  height: 12vh;
  padding: 5%;
  background: var(--landing_logo);
  background-size: cover;
  background-position: center;
  transition: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#logCover {
  /* width: 100vw; */
  width: 76vw;
  /* height: 47vh; */
  padding: 5%;
  animation: slidedown 700ms forwards;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #00000045;
  border-radius: 12px;
  /* backdrop-filter: blur(10px); */
}
.navbar__ {
  backdrop-filter: blur(10px);
  background-color: rgb(39 39 39 / 50%);
  z-index: 24;
}
@keyframes slidedown {
  from {
    transform: translateY(50vh);
    scale: 0;
    filter: blur(12px);
    backdrop-filter: blur(0px);
    width: 0vw;
  }
  to {
    transform: translateY(0);
    scale: 1;
    opacity: 1;
    filter: blur(0px);
    backdrop-filter: blur(10px);
  }
}
#landingname {
  margin-top: 5%;
  font-size: 5.8vw;
  animation: slidedown 5s;
}
#banner {
  background-image: url("/images/come\ and\ enjoy.webp");
  background-size: cover;
  background-position: center;
  border: 8px solid #000000;

  width: 100%;
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bannerfont {
  font-size: 4.5vw;
}
#mainbackground {
  background-image: url("/images/front.webp");
  background-size: cover;
  background-position: top;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showtime {
  width: 95%;
}
#headingname {
  font-size: 9.3vw;
}
#dates {
  margin-top: 10%;
  width: 100%;
  height: auto;
}
.clgphoto {
  width: 100%;
}
.banner1 {
  width: 100%;
  font-size: 45px;
  text-align: center;
  position: relative;
  margin-top: 10%;
  /* background: url("/images/banner2.webp"); */
  background-size: cover;
  background-position: center;
  opacity: 0;
}
#lights {
  width: 100vw;
  height: auto;
  margin-top: -10%;
}

.clooney {
  width: 100%;
  padding: 5%;
  opacity: 0;
}
.dates1 {
  height: 40vh;
}
#curtain1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  vertical-align: top;
  align-items: start;
  animation: curtain1 5s forwards;
}
#curtain2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  vertical-align: top;

  overflow: hidden;
  animation: curtain2 5s forwards;
}
.jnontainer {
  margin-left: 12px;
}

.Uil {
  margin-right: unset;
}

@keyframes curtain1 {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-130vh);
    opacity: 0;
    width: 0%;
  }
}
@keyframes curtain2 {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(130vh);
    opacity: 0;
    width: 0%;
  }
}

.footer {
  width: 100%;
  background-color: white;
  opacity: 100%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  /* position: absolute; */
  /* bottom: 0px; */
}
main {
  /* height: 100vh; */
  padding: 10vh 12px 12px 12px;
  background: url("/images/background.webp");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: black;
}

.modalWindow {
  width: 90vw;
  height: 70vh;
  background-color: rgb(0 0 0 / 32%);
  backdrop-filter: blur(10px);
  border-radius: 35px;
  overflow: hidden;
  padding: 24px;
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 120px;
  grid-gap: 12px;
}
.call_button {
  outline: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: hsl(359deg 19% 15%);
  color: #ff5d5d;
  transition: 400ms;
}

.call_button:hover {
  background: #0fff7b;
  color: hsl(152, 19%, 15%);
}
@media screen and (max-width: 400px) {
  .modalWindow {
    width: 90vw;
    height: 70vh;
    padding: 20px;
    grid-template-columns: 120px 120px;
    grid-template-rows: 120px 120px;
  }
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #00000000;
  width: 40px;
  height: 40px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #000000;
}
#aboutbanner {
  width: 100%;
  margin-top: 10%;
}
#co-ordinator {
  width: 100%;
}
#details {
  margin-left: 70px;
  width: 263px;
  height: 102px;

  /* Radial */

  background: radial-gradient(
    55.88% 55.89% at 50% 49.99%,
    #7e1b39 40%,
    #350e3c 100%
  );
  border-radius: 11px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* scroll bar  */
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 191, 30);
}

::-webkit-scrollbar-corner {
  color: #000;
}
