:root {
  --outer-shadow: 0 0 0.1vw 0.4vw #e0f7fa, 0 0 0.4vw 0.6vw #00e5ff,
    0 0 1vw 0.4vw #26c6da;
  --inner-shadow: inset 0 0 0.1vw 0.4vw #e0f7fa, inset 0 0 0.4vw 0.6vw #00e5ff,
    inset 0 0 1vw 0.4vw #26c6da;
  --all-shadow: 0 0 0.1vw 0.4vw #e0f7fa, 0 0 0.4vw 0.6vw #00e5ff,
    0 0 1vw 0.4vw #26c6da, inset 0 0 0.1vw 0.4vw #e0f7fa,
    inset 0 0 0.4vw 0.6vw #00e5ff, inset 0 0 1vw 0.4vw #26c6da;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: NewAgeVintage;
  src: url("fonts/NewAgeVintage/NewAgeVintageRegular.otf") format("opentype");
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "NewAgeVintage";
  scrollbar-color: var(--text) rgb(71, 71, 71);
  /* overflow-x: hidden; */
  background: url(./images/Bgblack.png);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

/* .main-wrapper {
  height: 100%;
} */

.hero {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navbar__ {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.233);
}

.video-wrapper {
  height: 100%;
  width: 100%;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.main-wrapper {
  position: relative;
  background: rgba(255, 255, 255, 0);
}

.confetti {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;
}

.showtime {
  /* position: absolute; */
  margin-top: -50%;
  width: 100%;
  z-index: -10;
}

.date {
  /* position: absolute; */
  margin-top: -10%;
  width: 100%;
}

.promo {
  width: 80%;
  height: auto;
  z-index: 10;
  margin-top: 0%;
  /* position: absolute; */
  margin-left: 10%;
  border-radius: 25px;
  color: #000;
  box-shadow: 0 0 2px #000, 0 0 10px #000, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}

.sponsored {
  /* position: absolute; */
  margin-top: 0%;
  width: 70%;
  margin-left: 12%;
}

.sponsors {
  /* position: absolute; */
  margin-top: -30%;
  width: 70%;
  margin-left: 12%;
}

.wedland {
  width: 20%;
  margin-left: 37%;
  margin-top: -105%;
}

.codesvera {
  width: 13%;
  margin-left: 33%;
  margin-top: -93%;
}

.learningmindz {
  width: 13%;
  margin-left: 1%;
  margin-top: -93%;
}

.pooja {
  width: 6%;
  margin-top: -70%;
  margin-left: -21.5%;
}

.arabian {
  width: 8%;
  margin-top: -70%;
  margin-left: 2%;
}

.pace {
  width: 8%;
  margin-top: -55%;
  margin-left: -17%;
}

footer {
  /* position: absolute; */
  margin-top: 0%;
  background: blur(rgba(255, 255, 255, 0.8));
  width: 100%;
  height: 20%;
}

.dy {
  margin-left: 35%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.dylist li {
  font-size: 3vw;
  color: aliceblue;
}

.dylist li:nth-child(1) {
  color: darksalmon;
}

.dylist li:nth-child(2) {
  color: cornflowerblue;
}

.dylist li:nth-child(3) {
  color: bisque;
}

.dylist li:nth-child(4) {
  color: darkturquoise;
}

.dylist li:nth-child(5) {
  color: crimson;
}

.dylist li:nth-child(6) {
  color: bisque;
}

.dylist li:nth-child(8) {
  color: beige;
}

.dylist li:nth-child(9) {
  color: darksalmon;
}

.dylist li:nth-child(10) {
  color: aqua;
}
.dylist li:nth-child(11) {
  color: lightcoral;
}
.dylist li:nth-child(12) {
  color: bisque;
}
.dylist li:nth-child(13) {
  color: darkcyan;
}
.dylist li:nth-child(14) {
  color: bisque;
}

.powered {
  /* position: absolute; */
  margin-left: 45%;
  margin-top: 0%;
  color: white;
  font-size: 1.5vw;
}

.trilok {
  /* position: absolute; */
  margin-top: 0%;
  width: 5%;
  margin-left: 46%;
}

.footer-wrapper {
  height: 20%;
  overflow: hidden;
}
.footer-wrapper {
  /* position: absolute; */
  background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(5px);
  padding: 2%;
}

@-webkit-keyframes blink {
  100% {
    box-shadow: 0 0 3px #000, 0 0 10px #000, 0 0 20px #000, 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

@keyframes blink {
  100% {
    box-shadow: 0 0 3px #000, 0 0 10px #000, 0 0 20px #000, 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

/*Photos*/

.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slideshow .slider {
  width: 100vw;
  height: 100vw;
  z-index: 2;
}
.slideshow .slider * {
  outline: none;
}
.slideshow .slider .item {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
}

.slideshow .slider .item .text {
  display: none;
}
.slideshow .slider .item img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.slideshow .slick-dots {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: auto;
  bottom: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  left: auto;
  color: #fff;
  display: block;
}
.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
}
.slideshow .slick-dots li button:before {
  content: "";
  background: #fff;
  color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}
.slideshow.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}
.slideshow.slideshow-right .slider {
  left: 0;
  position: absolute;
}

.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 80px;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  pointer-events: none;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 0.8;
}
@media (max-width: 767px) {
  .slideshow-text {
    font-size: 40px;
  }
}

.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}
.the-most img {
  max-width: 100%;
}

/*Splash Screen*/

.splash {
  height: 0px;
  padding: 0px;
  border: 130em solid black;
  position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  /* z-index: 1; */
  box-sizing: initial;
  overflow: hidden;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    borderRadius 0.2s 2.3s linear forwards;
}

#welcome {
  background: white;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  /* z-index: 1; */
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards,
    hide 2s 2.9s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: black;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: white;
  }
}

@keyframes materia {
  0% {
    background: black;
  }
  50% {
    background: black;
    top: 26px;
  }
  100% {
    background: black;
    width: 100%;
    height: 64px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
